@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

/* Background colors */

/* Fonts */

.TabTextFonts{
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    font-weight:bold;
}

                        /*Image and title fonts  */
.ServiceTitle{
    font-family: 'Jura', sans-serif;
    font-size: 1.5rem;
    font-weight:bold;
    padding-bottom: 10px;
}
.ServiceRatings{
    margin-top: 2%;
}
.ServiceRatingText{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    display: inline;

}
.ServiceRatingBar{
   display: inline;
}

                        /* Over view  */

.OverViewHeadingFonts{
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.OverViewParaphFonts{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}
/* ------------------------ */
.navdiv {
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%; 
  }
  .active {
    visibility: visible;
    transition: all 0.5s;
  }
  .hidden {
    /* visibility: hidden; */
    transition: all 0.5s;
    transform: translateY(-57%);
  }